@inherits LayoutComponentBase

<PageTitle>Inventory Management System</PageTitle>


<header>
    <NavMenu />
</header>

<main class="flex-shrink-0 mt-5">
    <div class="container pt-5">
        @Body
    </div>
</main>

