@media (max-width:481px){
    .navbar-brand{
        font-size: 1rem !important;
        margin-right:0.5rem !important;
        text-overflow:ellipsis;
        overflow:hidden;
    }

    .navbar> .container-fluid{
        flex-wrap:nowrap !important;
    }
}